# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Nix
result*

# Keys (doesn't really matter; they're only for tests)
keys/
