# Aiken compilation artifacts
artifacts/

# Aiken's project working directory
# We DO commit these so it doesn't need network access during nix build:
# build/

# Aiken's default documentation export
docs/

# Nix
result*

# Parameterized validators
# (we do still want to version control the non-parameterized ones)
egc-plutus*.json
