<div id="history-top-bar">
	<input 
     type="text" 
     name="history-filter" 
     id="history-filter-input"
     hx-get="{{ url_for('history.filter_results') }}"
     hx-trigger="keyup changed delay:200ms"
     hx-headers='js:{"HX-Trigger-Version": document.getElementById("history-ver").dataset.ver}'
     hx-include="[name='history-filter']"
     hx-target="#history-filter-results"
     hx-swap="innerHTML"
     placeholder="Filter entries...">
</div>

<div id="history-main-area">
	<div id="history-log-container" hx-ext="morph" hx-swap="morph">
		<!-- log oob-swapped in here -->
	</div>
	<div id="history-tree-container" hx-ext="morph" hx-swap="morph">
		<!-- tree oob-swapped in here -->
	</div>
</div>

<span id="history-ver" data-ver="{{history_ver|default(0)}}"></span>

<div id="history-filter-results" 
     class="hidden"
     hx-get="{{ url_for('history.filter_results') }}"
     hx-trigger="load, every 5s"
     hx-headers='js:{"HX-Trigger-Version": document.getElementById("history-ver").dataset.ver}'
     hx-include="[name='history-filter']"
     hx-swap="innerHTML"
     hx-sync="this:replace"
     hx-on::after-swap="if (!document.getElementById('history-filter-input').value.trim()) { lc = document.getElementById('history-log-container'); lc.scrollTop = lc.scrollHeight; }">
	<!-- filtered log + tree injected here and then oob-swapped -->
</div>
