:root {
  color-scheme: light dark;
}

.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline;
}
.htmx-request.htmx-indicator {
    display: inline;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0 auto;
    padding: 0;
}

main {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

#history-top-bar {
}

#history-filter-input {
  padding: 7px;
}

#history-main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; /* prevents layout breaking */
  outline: 1px solid;
}

#history-log-container {
  overflow-y: auto;
}

#history-tree-container {
  outline: 1px solid;
}

.footer {
}

#settings {
  height: 20vh;
}

ul.history-log {
  margin: 0;
  padding: 0;
}

.history-tree>ul {
  margin: 0;
  padding: 0;
}

li.event {
  list-style-type: none;
}

li.tree-node {
  list-style-type: none;
}

.phase-past {
}

.phase-present {
  color: green;
}

.phase-future {
  opacity: 0.2;
}
