:root { color-scheme: light dark; }

main {
  height: 93vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

#filter-input {
  padding: 7px;
  border-bottom: 1px solid #ccc;
}

#history-main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; /* prevents layout breaking */
  border: 1px solid black;
}

#history-log-container {
  overflow-y: auto;
}

#history-state-container {
  padding: 1rem;
  border-left: 1px solid black;
}

.footer {
}
