:root {
  color-scheme: light dark;
}

.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline;
}
.htmx-request.htmx-indicator {
    display: inline;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0 auto;
    padding: 0;
}

main {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

#history-top-bar {
  border: 3px solid brown;
}

#history-filter-input {
  padding: 7px;
  border: 3px solid red;
}

#history-main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; /* prevents layout breaking */
  border: 3px solid orange;
}

#history-log-container {
  overflow-y: auto;
  border: 3px solid skyblue;
}

#history-tree-container {
  padding: 1rem;
  border: 3px solid forestgreen;
}

.footer {
}

#settings {
  border: 3px solid red;
  height: 20vh;
}
