# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Nix
result*
# Parameterized validators
# (we do still want to version control the non-parameterized ones)
election-plutus-traced-*.json

static_election_records/*
